{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  <b>{{ annotation['effect'] }} in {{ annotation['feature_id'] }}</b><br/>
  <b>Variant: {{ variant['chrom'] }}:{{ variant['start_pos'] }}-{{ variant['end_pos'] }}</b>
</h1>
<h3 class="subtitle has-text-centered">
  {{ file['name'] }} / {{ gene_hgnc }}
</h3>

<div class="box" style="min-height: 70vh">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Files</a></li>
      <li><a href="/files/{{ file['hash'] }}"><span class="max_40_ch">{{ file['name'] }}</span></a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}">{{ gene_hgnc }}</a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants">Variants</a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants/{{ variant['gene_variation']}}">{{ variant['chrom'] }}:{{ variant['start_pos'] }}-{{ variant['end_pos'] }}</a></li>
      <li class="is-active"><a href="#" aria-current="page"></a>{{ annotation['feature_id'] }}</li>
    </ul>
  </nav>

  <hr/>

  <!-- TODO: show colored diff -->
  <div class="columns">
    <div class="column">
      <h4 class="title is-size-4">
        Reference protein:
      </h4>
      <div class="protein-sequence-view" style="border-right: 2px solid grey">
          {% for chunk in reference_protein|chunkstring(10) %}
            <span class="protein-sequence-chunk">{{ chunk }}</span>
          {% endfor %}
      </div>
    </div>
    <div class="column">
      <h4 class="title is-size-4">
        Alternative protein:
      </h4>
      <div class="protein-sequence-view">
          {% for chunk in alternative_protein|chunkstring(10) %}
            <span class="protein-sequence-chunk">{{ chunk }}</span>
          {% endfor %}
      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}