{% extends "base.html" %}

{% block content %}
<h3 class="title has-text-centered is-4">
  <b>{{ annotation['effect'] }} in {{ annotation['feature_id'] }}</b>
</h3>
<h3 class="subtitle has-text-centered is-5">
  <b>Variant: {{ variant['chrom'] }}:{{ variant['start_pos'] }}-{{ variant['end_pos'] }}</b><br/>
  <b>HGVS</b>: {{ annotation['hgvs_protein'] }}
</h3>
<h3 class="subtitle has-text-centered is-5">
  {{ file['name'] }} / {{ gene_hgnc }}
</h3>

<div class="box" style="min-height: 70vh">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Files</a></li>
      <li><a href="/files/{{ file['hash'] }}"><span class="max_40_ch">{{ file['name'] }}</span></a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}">{{ gene_hgnc }}</a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants">Variants</a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants/{{ variant['gene_variation']}}">{{ variant['chrom'] }}:{{ variant['start_pos'] }}-{{ variant['end_pos'] }}</a></li>
      <li class="is-active"><a href="#" aria-current="page"></a>{{ annotation['feature_id'] }}</li>
    </ul>
  </nav>

  <hr/>

  <!-- TODO: show colored diff -->
  <div class="columns">
    <div class="column">
      <h4 class="title is-size-4">
        Reference protein:
      </h4>
      <div class="protein-sequence-view" style="border-right: 2px solid grey">
          {% for chunk in reference_protein|chunkstring(10) %}
            <span class="protein-sequence-chunk">{{ chunk }}</span>
          {% endfor %}
      </div>
    </div>
    <div class="column">
      <h4 class="title is-size-4">
        Alternative protein:
      </h4>
      <div class="protein-sequence-view">
          {% for chunk in alternative_protein|chunkstring(10) %}
            <span class="protein-sequence-chunk">{{ chunk }}</span>
          {% endfor %}
      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
  let chunkSize = 10;
  let refProteinView = $('.protein-sequence-view')[0];
  let start = {{ protein_change_range[0] }};
  let end = {{ protein_change_range[1] }};
  let startChunkIndex = Math.floor(start / chunkSize);
  let endChunkIndex = Math.floor(end / chunkSize);
  for (var i = startChunkIndex; i <= endChunkIndex; i++) {
    let chunk = refProteinView.children[i];
    let startChar = start - chunkSize * i;
    let endChar = end - chunkSize * i;
    let content = chunk.textContent;
    $(chunk).empty();
    $(chunk).append(content.substr(0, startChar));
    $(chunk).append("<b style=\"color: red\">" + content.substr(startChar, endChar - startChar + 1) + "</b>");
    $(chunk).append(content.substr(endChar + 1, chunkSize - endChar + 1));
  }
  
});
</script>
{% endblock %}