{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  Files
</h1>

<div class="box" style="min-height: 70vh">
  <a class="button is-link mb-4" href="/files/new">Add a file</a>

  <table id='files-table' class="table is-striped is-fullwidth is-hoverable">
    <thead>
      <th>
        Name
      </th>
      <th>
        Gene set
      </th>
      <th>
        Created at
      </th>
      <th>
        Status
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>
            <a class="has-text-link" href="/files/{{ file['hash'] }}/{{ file['gene_set_id'] }}">{{ file['name'] }}</a>
          </td>
          <td>
            {{ file['gene_set_name'] }}
          </td>
          <td>
            {{ file['created_at']|format_datetime }}
          </td>
          <td>
            {{ file['status'] }}
          </td>
          <td>
            <a class="has-text-link ml-5" href="/files/{{ file['hash'] }}/{{ file['gene_set_id'] }}/delete" onclick="return confirm('Are you sure you want to delete this file and all data associated with it?')">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#files-table').DataTable({
      pageLength: 50,
    });
});
</script>
{% endblock %}