{% extends "base.html" %}

{% block content %}
<h2 class="title has-text-centered is-4">
  {{ file['name'] }}
</h2>

<div class="box" style="min-height: 70vh">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Files</a></li>
      <li class="is-active"><a href="#" aria-current="page"><span class="max_40_ch">{{ file['name'] }}</span></a></li>
    </ul>
  </nav>

  <hr/>
  <b>Reference genome:</b> {{ file['genome_ref'] }}<br/>
  <b>Gene set:</b> <a href="/gene_sets/{{ file['gene_set_id'] }}">{{ gene_set['name'] }}</a><br/>
  <b>Affected genes:</b> {{ file_summary['genes'] }}<br/>
  <b>Variants:</b> {{ file_summary['variations'] }}<br/>
  <b>Annotations:</b> {{ file_summary['effects'] }}<br/>

  <h3 class="subtitle is-3 mt-5">Filters</h3>
  <form class="form" method="GET">
    <div class="field">
      <label class="label">
        Chromosomes:
      </label>
      <div class="control">
        <select class="select" id="chromosome_select" name="chromosomes" multiple style="min-width: 200px" data-placeholder="Select chromosome...">
          {% for chromosome in chromosomes %}
            <option value="{{ chromosome }}" {% if chromosome in selected_chromosomes %} selected {% endif %}>{{ chromosome }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="button is-link">Filter</button>
  </form>

  <h4 class="title has-text-centered is-4">Breakdown by gene</h4>
  <table id='impact-table' class="table is-bordered is-striped is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th rowspan="2" class="is-vcentered has-text-centered">
          Chromosome
        </th>
        <th rowspan="2" class="is-vcentered has-text-centered">
          Gene
        </th>
        <th rowspan="2" class="is-vcentered has-text-centered">
          Variants
        </th>
        <th colspan="4" class="has-text-centered">
          Annotations by impact
        </th>
      </tr>
      <tr>
        <th class="has-text-centered">
          High
        </th>
        <th class="has-text-centered">
          Moderate
        </th>
        <th class="has-text-centered">
          Low
        </th>
        <th class="has-text-centered">
          Modifier
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in impact_summary %}
        <tr>
          <td>
            {{ row['chrom'] }}
          </td>
          <td>
            <a href="/files/{{ file['hash'] }}/gene/{{ row['gene_hgnc'] }}">{{ row['gene_hgnc'] }}</a>
          </td>
          <td>
            {{ row['variants']|int }}
          </td>
          <td>
            {{ row['high_impact']|int }}
          </td>
          <td>
            {{ row['moderate_impact']|int }}
          </td>
          <td>
            {{ row['low_impact']|int }}
          </td>
          <td>
            {{ row['modifiers']|int }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#impact-table').DataTable({
      pageLength: 50,
    });

    $('#chromosome_select').chosen();
});
</script>
{% endblock %}