{% extends "base.html" %}

{% block content %}
<h2 class="title has-text-centered is-4">
  <b>{{ hgnc_info['name'] }} ({{ gene_hgnc }})
</h2>
<h3 class="subtitle has-text-centered">
  {{ file['name'] }}
</h3>

<div class="box" style="min-height: 70vh">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Files</a></li>
      <li><a href="/files/{{ file['hash'] }}"><span class="max_40_ch">{{ file['name'] }}</span></a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ gene_hgnc }}</a></li>
    </ul>
  </nav>

  <hr/>

  <div class="columns">
    <div class="column">
      <b>Chromosome:</b> {{ chromosome }}<br/>
      <b>Ensembl:</b> <a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ hgnc_info['ensembl_gene_id'] }}">{{ hgnc_info['ensembl_gene_id'] }}</a><br/>
      <b>Entrez:</b> <a href="https://www.ncbi.nlm.nih.gov/gene/{{ hgnc_info['entrez_id'] }}">{{ hgnc_info['entrez_id'] }}</a><br/>
      <b>HGNC:</b> <a href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/{{ hgnc_info['hgnc_id'] }}">{{ hgnc_info['hgnc_id'] }}</a><br/>
      <b>UniProt:</b>
      {% set uniprot_id_count = hgnc_info['uniprot_ids']|length %}
      {% set i = 0 %}
      {% for id in hgnc_info['uniprot_ids'] %}
        {% set i = i+1 %}
        <a href="https://www.uniprot.org/uniprot/{{ id }}">{{ id }}</a>
        {% if i < uniprot_id_count %}
        ,
        {% endif %}
      {% endfor %}
    </div>
    <div class="column">
      <a class="button is-link is-pulled-right" href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants">List variants</a>
    </div>
  </div>

  {% if hgnc_info['uniprot_ids']|length > 0 %}
    <div class="block">
      <h3 class="subtitle is-3">Protein annotation ({{ hgnc_info['uniprot_ids'][0] }})</h3>

      {% for category, annotations in protein_annotation.items() %}
        <div class="block">
          <h5 class="subtitle is-5">{{ category | snakecase_to_title}}</h5>
          <ul>
            {% for annotation in annotations %}
              <li>
                {{ annotation.description }}
                {% if annotation.cvTermAccessionCode %}
                  <a class="ml-1" href="https://www.ebi.ac.uk/QuickGO/term/{{ annotation.cvTermAccessionCode }}">{{ annotation.cvTermAccessionCode }}</a>
                {% endif %}
                <span class="tag ml-1 {% if annotation.qualityQualifier == 'GOLD' %} is-warning {% endif %}">{{ annotation.qualityQualifier }}</span></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
  <h3 class="subtitle is-3">Filters</h3>
  <form class="form" method="GET">
    <div class="field">
      <label class="label">
        Transcript biotypes:
      </label>
      <div class="control">
        <select class="select" id="biotypes_select" name="biotypes" multiple style="min-width: 200px" data-placeholder="Select transcript biotypes...">
          {% for biotype in transcript_biotypes %}
            <option value="{{ biotype }}" {% if biotype in selected_biotypes %} selected {% endif %}>{{ biotype }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="button is-link">Filter</button>
  </form>

  <h3 class="title has-text-centered">Effects by impact</h3>
  <table id='effects-table' class="table is-bordered is-striped is-fullwidth">
    <thead>
      <tr>
        <th>
          Impact (numeric)
        </th>
        <th class="is-vcentered has-text-centered">
          Impact
        </th>
        <th class="is-vcentered has-text-centered">
          Effect       
        </th>
        <th class="has-text-centered">
          Count
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in effects_summary %}
        <tr>
          <td>
            {{ row['order'] }}
          </td>
          <td>
            <a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants?impacts={{ row['impact'] }}">{{ row['impact'] }}</a>
          </td>
          <td>
            <a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants?effects={{ row['effect'] }}">{{ row['effect'] }}</a>
          </td>
          <td>
            {{ row['count']|int }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#effects-table').DataTable({
      paging: false,
      order: [[0, 'desc']],
      columnDefs: [
        {
            target: 0,
            visible: false,
            searchable: false,
        },
      ]
    });

    $('#biotypes_select').chosen();
});
</script>
{% endblock %}