{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  <b>{{ hgnc_info['name'] }} ({{ gene_hgnc }})
</h1>
<h3 class="subtitle has-text-centered">
  {{ file['name'] }}
</h3>

<div class="box" style="min-height: 70vh">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Files</a></li>
      <li><a href="/files/{{ file['hash'] }}"><span class="max_40_ch">{{ file['name'] }}</span></a></li>
      <li><a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}">{{ gene_hgnc }}</a></li>
      <li class="is-active"><a href="#" aria-current="page">Variants</a></li>
    </ul>
  </nav>

  <hr/>

  <div id="browser_div" class="mt-2"></div>

  <label class="checkbox">
    <input id="include_modifiers" type="checkbox">
    Show variants with no impact
  </label>

  <h3 class="title has-text-centered mt-6">Variants</h3>

  <h3 class="subtitle is-3">Filters</h3>
  <form class="form mb-6" method="GET">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">
            Transcript biotypes:
          </label>
          <div class="control">
            <select class="select" id="biotypes_select" name="biotypes" multiple style="width: 100%" data-placeholder="Select transcript biotypes...">
              {% for biotype in transcript_biotypes %}
                <option value="{{ biotype }}" {% if biotype in selected_biotypes %} selected {% endif %}>{{ biotype }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Impacts:
          </label>
          <div class="control">
            <select class="select" id="impacts_select" name="impacts" multiple style="width: 100%" data-placeholder="Select impacts...">
              {% for impact in impacts %}
                <option value="{{ impact }}" {% if impact in selected_impacts %} selected {% endif %}>{{ impact }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Effects:
          </label>
          <div class="control">
            <select class="select" id="effects_select" name="effects" multiple style="width: 100%" data-placeholder="Select effects...">
              {% for effect in effects %}
                <option value="{{ effect }}" {% if effect in selected_effects %} selected {% endif %}>{{ effect }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Feature types:
          </label>
          <div class="control">
            <select class="select" id="feature_types_select" name="feature_types" multiple style="width: 100%" data-placeholder="Select feature types...">
              {% for feature_type in feature_types %}
                <option value="{{ feature_type }}" {% if feature_type in selected_feature_types %} selected {% endif %}>{{ feature_type }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="button is-link is-pulled-right">Filter</button>
  </form>
  <br/>

  <table id='variants_table' class="table is-bordered is-striped is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th class="is-vcentered has-text-centered">
          Start
        </th>
        <th class="is-vcentered has-text-centered">
          End
        </th>
        <th class="is-vcentered has-text-centered">
          Reference
        </th>
        <th class="has-text-centered">
          Alternative
        </th>
        <th class="has-text-centered">
          Type
        </th>
        <th class="has-text-centered">
          Subtype
        </th>
        <th class="has-text-centered">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in variants %}
        <tr>
          <td>
            {{ row['start_pos'] }}
          </td>
          <td>
            {{ row['end_pos'] }}
          </td>
          <td>
            {{ row['ref'] }}
          </td>
          <td>
            {{ ','.join(row['alt']) }}
          </td>
          <td>
            {{ row['var_type'] }}
          </td>
          <td>
            {{ row['var_subtype'] }}
          </td>
          <td>
            <button class="button is-small is-info is-light" onclick="focusBrowser('{{chromosome}}', {{ row['start_pos'] }}, {{ row['end_pos'] }})">Focus in browser</button>
            <a href="/files/{{ file['hash'] }}/{{ gene_hgnc }}/variants/{{ row['gene_variation'] }}" class="button is-small is-info is-light">Details</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/igv.min.js') }}"></script>

{% endblock %}

{% block js %}
<script>
var igvBrowser;

function focusBrowser(chrom, start, end) {
  igvBrowser.search(`chr${chrom}:${start}-${end}`);
  document.getElementById("browser_div").scrollIntoView();
}

$(document).ready(function() {
  $('#variants_table').DataTable({
    paging: true,
    pageLength: 100,
  });

  $('#biotypes_select').chosen();
  $('#impacts_select').chosen();
  $('#effects_select').chosen();
  $('#feature_types_select').chosen();

  var includeModifiers = $(this).is(':checked');

  var igvDiv = document.getElementById("browser_div");

  $('#include_modifiers').change(function() {
    includeModifiers = !includeModifiers;
    let trackConfig = igvBrowser.findTracks('name', 'Variants')[0].config;
    igvBrowser.removeTrackByName('Variants');
    trackConfig.url = "{{ url_for('main.get_gene_vcf', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}";
    trackConfig.indexURL = "{{ url_for('main.get_gene_index', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}";
    if (includeModifiers) {
      trackConfig.url += "?include_modifiers=true";
      trackConfig.indexURL += "?include_modifiers=true";
    }
    igvBrowser.loadTrack(trackConfig);
  });

  var options =
  {
    genome: "hg38", // TODO: handle other reference genomes
    locus: "{{ chromosome|normalize_chromosome }}:{{ start_pos }}-{{ end_pos }}",
    showAllChromosomes: false,
    showChromosomeWidget: false,
    tracks: [
      {
        name: "Variants",
        url: "{{ url_for('main.get_gene_vcf', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}",
        indexURL: "{{ url_for('main.get_gene_index', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}",
        format: "vcf",
        displayMode: "EXPANDED",
        color: function (variant) {
          switch (variant.type) {
              case 'SNP':
                  return "#03adfc";
              case 'INDEL':
                  return "#fcce03";
              default:
                  return "#2b2b2b";
          }
        }
      },
      {
        name: "Transcripts (Gencode40)",
        type: "annotation",
        format: "gtf",
        displayMode: "expanded",
        height: 240,
        url: "{{ url_for('main.get_gencode40') }}",
        indexURL: "{{ url_for('main.get_gencode40_index') }}",
        visibilityWindow: 1000000,
        nameField: "transcript_id",
        colorBy: "biotype",
        colorTable: {
          "antisense": "blueviolet",
          "protein_coding": "blue",
          "retained_intron": "rgb(0, 150, 150)",
          "processed_transcript": "purple",
          "processed_pseudogene": "#7fff00",
          "unprocessed_pseudogene": "#d2691e",
          "*": "black"
        }
      },
    ]
  };


  igv.createBrowser(igvDiv, options)
    .then(function (browser) {
      igvBrowser = browser;
    })
});

</script>
{% endblock %}