{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  <b>{{ hgnc_info['name'] }} ({{ gene_hgnc }})
</h1>
<h3 class="subtitle has-text-centered">
  {{ file['name'] }}
</h3>

<div class="box" style="min-height: 70vh">
  <a class="button is-link mb-4" href="/files/{{ file['hash'] }}/gene/{{ gene_hgnc }}">⇦ Back to gene</a>

  <hr/>

  <div id="browser_div" class="mt-2"></div>

  <h3 class="title has-text-centered mt-6">Variants</h3>

  <h3 class="subtitle is-3">Filters</h3>
  <form class="form mb-6" method="GET">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">
            Transcript biotypes:
          </label>
          <div class="control">
            <select class="select" id="biotypes_select" name="biotypes" multiple style="width: 100%" data-placeholder="Select transcript biotypes...">
              {% for biotype in transcript_biotypes %}
                <option value="{{ biotype }}" {% if biotype in selected_biotypes %} selected {% endif %}>{{ biotype }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Impacts:
          </label>
          <div class="control">
            <select class="select" id="impacts_select" name="impacts" multiple style="width: 100%" data-placeholder="Select impacts...">
              {% for impact in impacts %}
                <option value="{{ impact }}" {% if impact in selected_impacts %} selected {% endif %}>{{ impact }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Effects:
          </label>
          <div class="control">
            <select class="select" id="effects_select" name="effects" multiple style="width: 100%" data-placeholder="Select effects...">
              {% for effect in effects %}
                <option value="{{ effect }}" {% if effect in selected_effects %} selected {% endif %}>{{ effect }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label">
            Feature types:
          </label>
          <div class="control">
            <select class="select" id="feature_types_select" name="feature_types" multiple style="width: 100%" data-placeholder="Select feature types...">
              {% for feature_type in feature_types %}
                <option value="{{ feature_type }}" {% if feature_type in selected_feature_types %} selected {% endif %}>{{ feature_type }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="button is-link is-pulled-right">Filter</button>
  </form>
  <br/>

  <table id='variants_table' class="table is-bordered is-striped is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>
          Start
        </th>
        <th class="is-vcentered has-text-centered">
          End
        </th>
        <th class="is-vcentered has-text-centered">
          Reference
        </th>
        <th class="has-text-centered">
          Alternative
        </th>
        <th class="has-text-centered">
          Type
        </th>
        <th class="has-text-centered">
          Subtype
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in variants %}
        <tr>
          <td>
            {{ row['start_pos'] }}
          </td>
          <td>
            {{ row['end_pos'] }}
          </td>
          <td>
            {{ row['ref'] }}
          </td>
          <td>
            {{ ','.join(row['alt']) }}
          </td>
          <td>
            {{ row['var_type'] }}
          </td>
          <td>
            {{ row['var_subtype'] }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/igv.min.js') }}"></script>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#variants_table').DataTable({
      paging: true,
      pageLength: 100,
    });

    $('#biotypes_select').chosen();
    $('#impacts_select').chosen();
    $('#effects_select').chosen();
    $('#feature_types_select').chosen();

  var igvDiv = document.getElementById("browser_div");
  var options =
  {
    genome: "hg38",
    locus: "chr{{ chromosome }}:{{ start_pos }}-{{ end_pos }}",
    "showAllChromosomes": false,
    "showChromosomeWidget": false,
    tracks: [
      {
        "name": "Variants",
        "url": "{{ url_for('main.get_gene_vcf', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}",
        "indexURL": "{{ url_for('main.get_gene_index', sha=file['hash'], gene_hgnc=gene_hgnc, _external=True) }}",
        "format": "vcf",
        "displayMode": "EXPANDED"
      }
    ]
  };

  igv.createBrowser(igvDiv, options)
    .then(function (browser) {
      console.log("Created IGV browser");
    })
});

</script>
{% endblock %}