{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">
  <b>{{ hgnc_info['name'] }} ({{ gene_hgnc }})
</h1>
<h3 class="subtitle has-text-centered">
  {{ file['name'] }}
</h3>

<div class="box" style="min-height: 70vh">
  <a class="button is-link mb-4" href="/files/{{ file['hash'] }}/gene/{{ gene_hgnc }}">⇦ Back to gene</a>

  <hr/>


  <h3 class="title has-text-centered">Variants</h3>
  <table id='variants_table' class="table is-bordered is-striped is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>
          Start
        </th>
        <th class="is-vcentered has-text-centered">
          End
        </th>
        <th class="is-vcentered has-text-centered">
          Reference
        </th>
        <th class="has-text-centered">
          Alternative
        </th>
        <th class="has-text-centered">
          Type
        </th>
        <th class="has-text-centered">
          Subtype
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in variants %}
        <tr>
          <td>
            {{ row['start_pos'] }}
          </td>
          <td>
            {{ row['end_pos'] }}
          </td>
          <td>
            {{ row['ref'] }}
          </td>
          <td>
            {{ ','.join(row['alt']) }}
          </td>
          <td>
            {{ row['var_type'] }}
          </td>
          <td>
            {{ row['var_subtype'] }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#variants_table').DataTable({
      paging: true,
      pageLength: 100,
    });
});
</script>
{% endblock %}